.card {
  position: relative;
}

.card img {
  width: 7rem;
  height: 9rem;
  object-fit: cover;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
}
